<div class="container-fluid row px-0 mx-0 TrangAdminMain" style="background-color: #2A3F54">

  <div class="col-md-2 px-0 TrangQL">
    <div class="row mx-0 px-0" style="align-items: center">
      <img src="../../../assets/image/logoadmin/phimmoi-square.png" alt="">
      <h6 style="word-wrap: break-word; padding-left: 4px; font-weight: bold; color:white">Trang Quản Lý Web Phim</h6>
    </div>

    <hr style="margin-top: 0">

    <div class="" style="background-color:#33485B">
      <h6 style="text-align: center; padding: 10px 0; color: white;">Chức Năng Hệ Thống</h6>
    </div>

    <div class="nav navbar-nav DieuHuongQuanLy mt-4">
      <ul style="list-style: none; padding-left: 4px">
        <li>
          <a class="btn" (click)="ChonLoaiQL('QLnguoidung')" style="color: white">
            <i class="fa fa-user-circle-o mr-2"></i> Quản Lý Người Dùng
          </a>
        </li>
        <li class="my-3">
          <a class="btn" (click)="ChonLoaiQL('QLphim')" style="color: white">
            <i class="fa fa-film mr-2"></i> Quản Lý Phim
          </a>
        </li>
      </ul>
    </div>

  </div>

  <div class="col-md-10 px-0 TrangQLChiTiet">
    <div class="HeaderAdmin pb-4">
      <app-header-admin></app-header-admin>
    </div>
    <div class="QuanLy_Info" [ngSwitch]="QuanLyStatus">
      <div class="QuanLy_content w-100" *ngSwitchCase="'QLnguoidung'">
        <app-quanlynguoidung></app-quanlynguoidung>
      </div>
      <div class="QuanLy_content" *ngSwitchCase="'QLphim'">
        <app-quanlyphim></app-quanlyphim>
      </div>
    </div>
  </div>
</div>

<!-- <app-login-admin></app-login-admin> -->

<router-outlet></router-outlet>