<div class="container">
  <div class="row">
    <div class="col-5 mx-auto">
      <form #formDangky="ngForm" (ngSubmit)="DangKy(formDangky.value)">
        <h4 class="display-4">Đăng Ký</h4>
        <div class="form-group">
          <label for="">Tài Khoản</label>
          <input type="text" required class="form-control" #taikhoan='ngModel' name="TaiKhoan" ngModel>
          <div *ngIf="taikhoan.errors && (taikhoan.touched || taikhoan.dirty)">
            <div class="alert alert-danger" *ngIf="taikhoan.errors.required">
              tai khoan khong duoc trong
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Mật Khẩu</label>
          <input type="text" required class="form-control" minlength="5" maxlength="30" #matkhau="ngModel" name="MatKhau" ngModel>
          <div *ngIf="matkhau.errors && (matkhau.touched || matkhau.dirty)">
            <div *ngIf="matkhau.errors.required" class="alert alert-danger">
              mat khau khong de trong
            </div>
            <div *ngIf="matkhau.errors.minlength || matkhau.errors.maxlength" class="alert alert-danger">
              chieu dai toi da va toi thieu 5 30
            </div>
          </div>

        </div>
        <div class="form-group">
          <label for="">Họ Tên: </label>
          <input type="email"  class="form-control" ngModel name="HoTen">

        </div>
        <div class="form-group">
          <label for="">Email</label>
          <input type="email"  class="form-control" ngModel name="Email" >
        </div>
        <div class="form-group">
          <label for="">Số ĐT</label>
          <input type="text" class="form-control" ngModel name="SoDT">
        </div>
        <div class="form-group">
          <label for="">Loại Người Dùng: </label>
          <input type="radio" ngModel name="MaLoaiNguoiDung" value="KhachHang">Khach Hang
          <input type="radio" ngModel name="MaLoaiNguoiDung" value="QuanTri">Admin
        </div>
        <div class="form-group">
          <button class="btn btn-success" type="submit">Đăng Ký</button>
        </div>
      </form>

    </div>
  </div>
</div>

