.adminlogin{
    color: white;
    .login_content{
        height: 500px;
        margin-top: 6rem;
    }
    .login_content .form-group{
        position: relative;
        
    }
    .login_content .form-group input{
        outline: none;
    }
    .login_content .form-group::after{
        content: "";
        width: 0;
        left: 0;
        bottom: 0;
        position: absolute;
        background: #58B747;
    }
    .login_content .form-group:hover::after{
        position: absolute;
        outline: none;
        height: 2px;
        width: 100%;
        background: #58B747;
        transition: 1s;
    }
}