<div class="row m-0 adminlogin" style="align-items: center; justify-content: center; text-align: center">
  <div class="login_content shadow bg-gray rounded" style="height: 550px; margin-top: 4rem">
    <h1 style="font-weight: bold; background-color: #6FB554; padding: 20px 100px">Sign-in Admin</h1>
    <i class="fa fa-sign-in" style="font-size: 60px;margin-bottom: 30px; color: chocolate"></i>

    <form style="margin-bottom: 40px">
      <div class="form-group mb-4">
        <input class="form-control" type="text" placeholder="Enter your Username"
          style="padding: 0px 40px; border: none;box-shadow: none">
      </div>
      <div class="form-group">
        <input class="form-control" type="password" placeholder="Password"
          style="padding: 0px 40px; border: none; box-shadow: none">
      </div>
    </form>

    <div class="row"
      style="text-align: left; padding-left: 40px; text-align: center; align-items: center; margin-bottom: 30px">
      <input type="checkbox" style="margin-right: 10px">
      <p style="color: gray; margin-bottom: 0">Remember Me</p>
    </div>
    <button class="btn btn-outline-success"
      style="padding: 10px 70px; border-radius: 20px; box-shadow: none">Login</button>
  </div>
</div>