.khuyenmai_content{
    .khuyenmai_item img{
        display: block;
        width: 100%;
        border-radius: 4px;
        cursor: pointer;
    }
    .khuyenmai_bosung .khuyenmai_item_content img{
        border-radius: 4px;
        cursor: pointer;
    }
}