<div class="row khuyenmai_content mx-0">
    <div class="col-md-6 khuyenmai_item">
      <img src="../../../../../../assets/image/img_tintuc/khuyenmai/123phim-ban-la-fan-cung-marvel-15562538608686.jpg" alt="hinh_tintuc1" srcset="">
      <h5>[123Phim] Bạn Là Fan Cứng Marvel?</h5>
      <p>Phim hay hoành tráng, thoả thích chơi games, nhận quà cực chất cùng 123Phim.</p>
    </div>
    <div class="col-md-6 khuyenmai_item">
        <img src="../../../../../../assets/image/img_tintuc/khuyenmai/mua-2-ve-cinestar-qua-zalopay-chi-1-000d-ve-15563607368330.jpg" alt="hinh_tintuc1" srcset="">
        <h5>Mua 2 Vé Cinestar Qua ZaloPay Chỉ 1.000đ/vé</h5>
        <p>Mua 2 vé CineStar tại mục Vé Phim trên ZaloPay hoặc web/app 123Phim chỉ 1.000đ/vé + Nhận thêm 1 voucher 40.000đ cho đơn hàng từ 90.000đ và 1 voucher 10.000đ cho đơn hàng từ 110.000đ.</p>
    </div>
    <div class="col-md-4 khuyenmai_item">
      <img src="../../../../../../assets/image/img_tintuc/khuyenmai/mua-ve-bhd-star-tren-123phim-bang-zalopay-1-000d-ve-15547977923247.jpg" alt="">
      <h5>Mua Vé BHD Star Trên 123Phim Bằng ZaloPay: 1.000đ/vé</h5>
      <p>Đặt vé BHD Star trên 123Phim bằng ZaloPay giá chỉ 1.000đ/vé, đã vậy còn nhận thêm 1 voucher 45.000đ cho đơn hàng từ 90.000đ và 1 voucher </p>
    </div>
    <div class="col-md-4 khuyenmai_item">
        <img src="../../../../../../assets/image/img_tintuc/khuyenmai/galaxy-trang-thi-trai-nghiem-bom-tan-cang-dong-cang-vui-15561704736470.jpg" alt="">
        <h5>[Galaxy Tràng Thi] Trải Nghiệm Bom Tấn Càng Đông Càng Vui</h5>
        <p>Nhân dịp khai trương cụm rạp Galaxy Tràng Thi, Galaxy Cinema dành tặng các Stars loạt chương trình ưu đãi hấp dẫn không thể bỏ qua.</p>
    </div>
    <div class="col-md-4 khuyenmai_bosung">
        <div class="khuyenmai_item_content row mx-0">
            <div class="col-md-2">
                <img src="../../../../../../assets/image/img_tintuc/khuyenmai/galaxy-mua-2-tang-1-15452724872391.png" alt="">
            </div>
            <div class="col-md-10">
              <p style="word-wrap:break-word">[Galaxy] Mua 2 tặng 1</p>
            </div>
        </div>
        <div class="khuyenmai_item_content row mx-0">
            <div class="col-md-2">
                <img src="../../../../../../assets/image/img_tintuc/khuyenmai/cns-nhanh-tay-nhan-li-xi-100-rinh-loc-lon-15490895488714.jpg" alt="">
            </div>
            <div class="col-md-10">
              <p style="word-wrap:break-word">[CNS] Nhanh tay nhận Lì xì - 100% Rinh lộc lớn</p>
            </div>
        </div>
        <div class="khuyenmai_item_content row mx-0">
            <div class="col-md-2">
                <img src="../../../../../../assets/image/img_tintuc/khuyenmai/shopee-cung-shopee-khoe-tai-sam-tet-cuc-cool-chi-voi-48k-15471774194499.jpg" alt="">
            </div>
            <div class="col-md-10">
              <p style="word-wrap:break-word">[Shopee] Cùng Shopee khoe tài sắm Tết cực ‘cool’ chỉ với 48K </p>
            </div>
        </div>
        <div class="khuyenmai_item_content row mx-0">
            <div class="col-md-2">
                <img src="../../../../../../assets/image/img_tintuc/khuyenmai/megags-giang-sinh-am-ap-15458785362689.jpg" alt="">
            </div>
            <div class="col-md-10">
              <p style="word-wrap:break-word">[MegaGS] Giáng sinh ấm áp</p>
            </div>
        </div>
  </div>
</div>
