<nav class="navbar navbar-expand-md bg-dark navbar-dark justify-content-center">
  <!-- Brand -->
  <a class="navbar-brand mr-auto">
    <img src="../../../../assets/image/11.png" class="pl-5" alt="LoGo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
  <!-- Links -->
  <ul class="navbar-nav m-auto">
    <li class="nav-item">
      <a class="nav-link" href="#">Lịch Chiếu</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Cụm Rạp</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Tin Tức</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Quảng Cáo</a>
    </li>
  </ul>

  <!-- Dropdown -->
  <ul class="navbar-nav DangNhap ml-auto row" style="align-items: center">
    <li class="nav-item mr-5">
      <button class="btn" style="padding: 0 15px"><i class="fa fa-user-circle pr-2"></i>Đăng Nhập</button>
    </li>
    <li>
      <select name="" id="" #diaDiem (change)="ChonDiaDiem(diaDiem.value)" size="1" class="pr-2 mr-5">
        <option class="dropdown-item" value="HCM">Hồ Chí Minh</option>
        <option value="HN">Hà Nội</option>
        <option value="DN">Đà Nẵng</option>
        <option value="NT">Nha Trang</option>
        <option value="HP">Hải Phòng</option>
        <option value="BH">Biên Hòa</option>
        <option value="BD">Bình Dương</option>
        <option value="PT">Phan Thiết</option>
      </select>
    </li>
    
  </ul>
</div>
</nav>