.navbar{
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    padding: 0;
    #collapsibleNavbar ul li a.nav-Link{
        color:#ddd;
        text-decoration: none;
        margin-right: 30px;
    }
    #collapsibleNavbar ul li a.nav-link:hover{
        color: #FB4226;
    }
    .navbar-nav button{
        box-shadow: none;
        border: none;
        color: #9B9B9B;
        :focus{
            box-shadow: none;
        }
    }
    .DangNhap{
        li{
            border-right: solid 1px #ddd;
        }
    }
}
@media screen and (max-width: 768px){
    #collapsibleNavbar{
        background-color: wheat;
        ul li a.nav-link{
            color: black;
        }
    }
    
}