<div id="demo" class="carousel slide Slider" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
      <!-- <li data-target="#demo" data-slide-to="4"></li> -->
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner slider_image">
      <div class="carousel-item active">
        <img src="../../../../../assets/image/BOAR-BANNER2.jpg" alt="BOAR-BANNER2">
      </div>
      <div class="carousel-item">
        <img src="../../../../../assets/image/avengers-endgame-15561783796536.jpg" alt="avengers-endgame">
      </div>
      <div class="carousel-item">
        <img src="../../../../../assets/image/bhd-1k-15547980284054.jpg" alt="bhd-1k">
      </div>
      <div class="carousel-item">
        <img src="../../../../../assets/image/us-15562476898633.jpg" alt="us">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
</div>