<div class="row tinTuc_content mx-0">
    <div class="col-md-6 tinTuc_item">
      <img src="../../../../../assets/image/img_tintuc/dienanh24h/luom-ngay-45-qua-trung-phuc-sinh-cuc-y-nghia-trong-avengers-endgame-nao-15564866948533.jpg" alt="hinh_tintuc1" srcset="">
      <h5>Lượm ngay 45 quả trứng Phục Sinh cực ý nghĩa trong Avengers: Endgame nào!</h5>
      <p>Phần phim này tuy khá ít trứng nhưng nó lại mang nhiều ý nghĩa hơn đấy.</p>
    </div>
    <div class="col-md-6 tinTuc_item">
        <img src="../../../../../assets/image/img_tintuc/dienanh24h/5-ly-do-de-khang-dinh-upin-va-ipin-truyen-thuyet-than-dao-la-bo-phim-gia-dinh-nen-xem-dip-le-30-4-155625099.png" alt="hinh_tintuc1" srcset="">
        <h5>5 LÝ DO ĐỂ KHẲNG ĐỊNH “UPIN VÀ IPIN: TRUYỀN THUYẾT THẦN ĐAO” LÀ BỘ PHIM GIA ĐÌNH NÊN XEM DỊP LỄ 30/4</h5>
        <p>Upin & Ipin vốn là loạt phim hoạt hình dài tập với nội dung xoay quanh cuộc sống thường 
          nhật cũng như những chuyến phiêu lưu kỳ thú của hai anh em song sinh người Malaysia - Upin
         và Ipin.</p>
    </div>
    <div class="col-md-4 tinTuc_item">
      <img src="../../../../../assets/image/img_tintuc/dienanh24h/phim-kinh-di-voi-chu-de-ke-dot-nhap-gay-to-mo-va-phan-khich-cho-fan-kinh-di-15560884255459.png" alt="">
      <h5>PHIM KINH DỊ VỚI CHỦ ĐỀ KẺ ĐỘT NHẬP GÂY TÒ MÒ VÀ PHẤN KHÍCH CHO FAN ...</h5>
      <p>Từ trước đến nay, những kẻ sát nhân máu lạnh vốn không hề xa lạ trên màn ảnh rộng Hollywood.
         Tuy nhiên, phải đến The Intruder thì thể loại này mới được nâng lên một tầm cao mới khi khai thác hình</p>
    </div>
    <div class="col-md-4 tinTuc_item">
        <img src="../../../../../assets/image/img_tintuc/dienanh24h/diem-lai-5-lan-thanos-dai-bai-trong-truyen-tranh-marvel-15561735652175.jpg" alt="">
        <h5>Cùng nhau điểm lại 5 lần Thanos đại bại trong comics trước thềm Avengers: </h5>
        <p>Mạnh như vậy mà cũng đại bại ư?</p>
    </div>
    <div class="col-md-4 tinTuc_bosung">
        <div class="tinTuc_item_content row mx-0">
            <div class="col-md-2" style="width:20%">
                <img src="../../../../../assets/image/img_tintuc/dienanh24h/sieu-pham-kinh-di-chung-ta-nhan-mua-loi-khen-15525405873733.jpg" alt="">
            </div>
            <div class="col-md-10" style="width:80%">
              <p style="word-wrap:break-word">Fan Việt Nam háo hức khi đội hình Running Man 7 người trở l...</p>
            </div>
        </div>
        <div class="tinTuc_item_content row mx-0">
            <div class="col-md-2" style="width:20%">
                <img src="../../../../../assets/image/img_tintuc/dienanh24h/fan-viet-nam-hao-huc-khi-doi-hinh-running-man-7-nguoi-tro-lai-trong-phien-ban-hoat-hinh-15559047278130.png" alt="">
            </div>
            <div class="col-md-10" style="width:80%">
              <p style="word-wrap:break-word">Fan Việt Nam háo hức khi đội hình Running Man 7 người trở l...</p>
            </div>
        </div>
        <div class="tinTuc_item_content row mx-0">
            <div class="col-md-2" style="width:20%">
                <img src="../../../../../assets/image/img_tintuc/dienanh24h/shazam-sieu-anh-hung-nha-dc-noi-tiep-thanh-cong-vang-doi-cua-aquaman-15524677656837.jpg" alt="">
            </div>
            <div class="col-md-10" style="width:80%">
              <p style="word-wrap:break-word">Fan Việt Nam háo hức khi đội hình Running Man 7 người trở l...</p>
            </div>
        </div>
        <div class="tinTuc_item_content row mx-0">
            <div class="col-md-2" style="width:20%">
                <img src="../../../../../assets/image/img_tintuc/dienanh24h/lat-mat-4-tung-trailer-he-lo-chuyen-ma-den-choi-nha-vua-so-vua-hai-15523792281785.jpg" alt="">
            </div>
            <div class="col-md-10" style="width:80%">
              <p style="word-wrap:break-word">Fan Việt Nam háo hức khi đội hình Running Man 7 người trở l...</p>
            </div>
        </div>
  </div>
</div>
