<div class="item_quangcao container-fluid px-0">
    <div class="container row quangcao_content">
        <div class="item_infoQuangcao col-xs-8">
            <h3>Ứng dụng tiện lợi dành cho

                người yêu điện ảnh</h3>
            <p>Không chỉ đặt vé, bạn còn có thể bình luận phim, chấm điểm rạp và đổi quà hấp dẫn.</p>
            <button class="btn btn-danger app_button">App Miễn Phí - Tải Về Ngay</button>
            <p>123Phim có hai phiên bản <a href="#">iOS</a> & <a href="#">Android</a></p>
        </div>
        <div>

        </div>
    </div>
</div>