<footer>
<div class="col-xs-12 block ng-scope container">
  <div class="mainMaxWidth">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <p class="title hideOnMobile">123PHIM</p>
        <div class="row title_inside">
          <div class="col-sm-6 col-xs-6 noPaddingLeft fontSizeP hideOnMobile">
            <a ui-sref="main.faq" href="">FAQ</a><br>
            <a ui-sref="guildline.guidev2" href="">Brand Guidelines</a>
          
          </div>

        <div class="col-sm-6 col-xs-12 noPaddingLeft fontSizeP">
            <a ui-sref="main.term" href="/thoa-thuan-su-dung">Thỏa thuận sử dụng</a><br>
            <a ui-sref="main.regular" href="/quy-che-hoat-dong">Quy chế hoạt động</a><br>
            <a ui-sref="main.policy" href="/chinh-sach-bao-mat">Chính sách bảo mật</a><br>
            <a ui-sref="main.guidev2" href="/quyen-loi-thanh-vien/">Quyền lợi thành viên</a><br>
            
          </div>
      </div>
        <!-- ngIf: isMobile -->
      </div>
      <div class="col-sm-4 col-xs-12 hideOnMobile icon_contact">
        <p class="title">ĐỐI TÁC</p>
        <div class="row col-sm-12 col-xs-12 linePartner">
          <a target="_blank" href="http://bhdstar.vn" title="BHD">
              <img class="iconConnect" src="../../../../assets/image/img footer/bhd.png">
          </a>
          <a target="_blank" href="http://galaxycine.vn" title="Galaxy">
              <img class="iconConnect" src="../../../../assets/image/img footer/galaxycine.png">
          </a>
          <a target="_blank" href="http://cinestar.com.vn" title="Cinestar">
              <img class="iconConnect" src="../../../../assets/image/img footer/cinestar.png">
          </a>
          <a target="_blank" href="http://lottecinemavn.com" title="Lotte Cinema">
              <img class="iconConnect" ng-src="https://s3img.vcdn.vn/123phim/2018/09/404b8c4b80d77732e7426cdb7e24be20.png" src="../../../../assets/image/img footer/404b8c4b80d77732e7426cdb7e24be20.png">
          </a>
          <a target="_blank" href="https://www.megagscinemas.vn" title="MegaGS">
              <img class="iconConnect" src="../../../../assets/image/img footer/megags.png">
          </a>
        </div>

        <div class="row col-sm-12 col-xs-12 linePartner">
          <a target="_blank" href="https://www.betacineplex.vn/" title="Beta">
              <img class="iconConnect" src="../../../../assets/image/img footer/bt.jpg">
          </a>
          <a target="_blank" href="http://ddcinema.vn" title="DDC">
              <img class="iconConnect" src="../../../../assets/image/img footer/dongdacinema.png">
          </a>
          <a target="_blank" href="https://touchcinema.com/" title="Touch Cinema">
              <img class="iconConnect" src="../../../../assets/image/img footer/TOUCH.png">
          </a>
          <a target="_blank" href="https://cinemaxvn.com/" title="Cinemax">
              <img class="iconConnect" src="../../../../assets/image/img footer/cnx.jpg">
          </a>
          <a target="_blank" href="http://starlight.vn/" title="Starlight">
              <img class="iconConnect" src="../../../../assets/image/img footer/STARLIGHT.png">
          </a>
        </div>

        <div class="row col-sm-12 col-xs-12 linePartner">
          <a target="_blank" href="https://momo.vn" title="MoMo">
              <img class="iconConnect" src="../../../../assets/image/img footer/momo.png">
          </a>
          <a target="_blank" href="https://zalopay.vn/" title="ZaloPay">
              <img class="iconConnect" src="../../../../assets/image/img footer/zalopay_icon.png">
          </a>
          <a target="_blank" href="https://www.payoo.vn/" title="Payoo">
              <img class="iconConnect" src="../../../../assets/image/img footer/payoo.jpg">
          </a>
          <!-- <a target="_blank" href="https://airpay.vn/" title="AirPay">
              <img class="iconConnect" src="app/assets/img/icons/AIRPAY.png">
          </a>
          <a target="_blank" href="http://www.saigonco-op.com.vn/" title="SaigonCoop">
              <img class="iconConnect" src="app/assets/img/icons/SGCOOP.png">
          </a> -->
          <a target="_blank" href="https://www.vietcombank.com.vn/" title="Vietcombank">
              <img class="iconConnect" src="../../../../assets/image/img footer/VCB.png">
          </a>
          <a target="_blank" href="http://www.agribank.com.vn/" title="Agribank">
              <img class="iconConnect" src="../../../../assets/image/img footer/AGRIBANK.png">
          </a>
        </div>

        <div class="row col-sm-12 col-xs-12 linePartner">
          <a target="_blank" href="https://www.vietinbank.vn/" title="Vietinbank">
              <img class="iconConnect" src="../../../../assets/image/img footer/VIETTINBANK.png">
          </a>
          <a target="_blank" href="https://www.indovinabank.com.vn/" title="IVB">
              <img class="iconConnect" src="../../../../assets/image/img footer/IVB.png">
          </a>
          <a target="_blank" href="http://123go.vn" title="123Go">
              <img class="iconConnect" src="../../../../assets/image/img footer/123go.png">
          </a>
          <a target="_blank" href="http://laban.vn" title="La Bàn">
              <img class="iconConnect" src="../../../../assets/image/img footer/laban.png">
          </a>
        </div>

        <div class="row col-sm-12 col-xs-12">

        </div>
      </div>
      <div class="col-sm-4 col-xs-12 row">
        <div class="col-xs-6 hideOnMobile textCenter px-5">
            <p class="title">MOBILE APP</p>
          <a target="_blank" href="https://itunes.apple.com/vn/app/123phim-gioi-phim-tren-au/id615186197?mt=8" title="Apple App">
              <img class="iconApp pr-3" src="../../../../assets/image/img footer/apple-logo.png">
          </a>
          <a target="_blank" href="https://play.google.com/store/apps/details?id=vn.com.vng.phim123" title="Android App">
              <img class="iconApp" src="../../../../assets/image/img footer/android-logo.png">
          </a>
        </div>
        <div class="col-xs-6 textCenter">
          <p class="title hideOnMobile">SOCIAL</p>
          <a target="_blank" href="https://www.facebook.com/123phim/" title="Facebook social">
              <img class="iconApp pr-3" src="../../../../assets/image/img footer/facebook-logo.png">
          </a>
          <a target="_blank" href="http://zalo.me/123phim" title="Zalo social">
              <img class="iconApp" src="../../../../assets/image/img footer/zalo-logo.png">
          </a>
        </div>
      </div>
    </div>

    <hr class="hrFooter">

    <div class="row">
      <div class="col-sm-1 col-xs-12 imgFooter">
        <img class="vngIcon" src="../../../../assets/image/img footer/vng-icon.png">
      </div>
      <div class="col-sm-9 col-xs-12 infoFooter">
        <span>123PHIM - SẢN PHẨM CỦA CÔNG TY CP DỊCH VỤ MẠNG VI NA - MỘT THÀNH VIÊN CỦA CÔNG TY CỔ PHẦN VNG</span>
        <span>Địa chỉ: 52 Nguyễn Ngọc Lộc, Phường 14, Quận 10, Tp Hồ Chí Minh</span>
        <span>Số ĐKKD: 0305418909, cấp lần đầu ngày 29/12/2007 – Sở KHĐT TP. HCM cấp</span>
      </div>
      <div class="col-sm-2 col-xs-12 imgFooter">
        <a target="_blank" href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=694" title="Bộ Công Thương">
            <img class="imgBoCo" src="../../../../assets/image/img footer/9693e0dbb6ceb3b274afeb6aa09a911f.png">
        </a>

      </div>

    </div>

  </div>
</div>
</footer>