<div class="container-fluid py-1 headerAdmin" 
     style="background-color:#343A40; padding-left: 0">

    <div class="nav navbar-nav" style="height: 25px;">
      <ul style="margin-left: auto;
                 list-style: none;
                 padding-left: 0; 
                 padding-right: 240px;
                 color: white;" 
          class="row mr-0">
        <li>
            <i class="fa fa-phone pr-2"></i> Hỗ Trợ 24/7: 1900.999.999
        </li>
        <li class="px-4">
            <i class="fa fa-envelope-o pr-2"></i> Email: micracleFilm@gmail.com
        </li>
        <li>
            <i class="fa fa-user-circle pr-2"></i>User Đăng Nhập
        </li>
      </ul>
    </div>
</div>
