<div class="row review_content mx-0">
    <div class="col-md-6 review_item">
      <img src="../../../../../../assets/image/img_tintuc/review/avengers-endgame-cai-ket-toan-ven-cho-chang-duong-11-nam-cua-mcu-15566197198087.jpg" alt="hinh_tintuc1" srcset="">
      <h5>Avengers: Endgame - Cái kết toàn vẹn cho chặng đường 11 năm của MCU</h5>
      <p>​Hoành tráng, kịch tính và cảm xúc là những gì mà người xem ấn tượng sau 3 tiếng ngồi trong rạp với Avengers: Endgame.</p>
    </div>
    <div class="col-md-6 review_item">
        <img src="../../../../../../assets/image/img_tintuc/review/review-captain-marvel-co-gai-co-doi-tay-vang-cua-lang-sieu-anh-hung-15518682803241.jpg" alt="hinh_tintuc1" srcset="">
        <h5>[Review] Captain Marvel - Cô gái có đôi tay vàng của làng siêu anh hùng</h5>
        <p>Captain Marvel là bước đệm an toàn cho siêu bom tấn Avengers: Endgame sắp ra mắt.</p>
    </div>
    <div class="col-md-4 review_item">
      <img src="../../../../../../assets/image/img_tintuc/review/review-hai-phuong-phim-hanh-dong-viet-mau-lua-nhat-ke-tu-dong-mau-anh-hung-15506475437941.jpg" alt="">
      <h5>[Review] Hai Phượng: Phim hành động Việt máu lửa nhất kể từ Dòng Máu Anh Hùng</h5>
      <p>Sau đúng một con giáp, điện ảnh Việt mới lại ghi dấu với một bộ phim đáng để trầm trồ, bàn luận. Riêng Ngô Thanh Vân, cô đã viết nên đỉnh cao mới </p>
    </div>
    <div class="col-md-4 review_item">
        <img src="../../../../../../assets/image/img_tintuc/review/review-sinh-nhat-chet-choc-2-ven-man-bi-an-ve-vong-lap-tu-than-15505650458980.jpg" alt="">
        <h5>[Review] Sinh Nhật Chết Chóc 2: Vén màn bí ẩn về vòng lặp tử thần</h5>
        <p>Phần 2 của Sinh Nhật Chết Chóc mở rộng câu chuyện theo hướng hài - khoa học viễn tưởng nhưng lại đánh mất yếu tố kinh dị được yêu thích.</p>
    </div>
    <div class="col-md-4 review_bosung">
        <div class="review_item_content row mx-0">
            <div class="col-md-2">
                <img src="../../../../../../assets/image/img_tintuc/review/review-vu-quy-dai-nao-khi-ngoc-trinh-ca-bai-bao-gio-lay-chong-cua-bich-phuong-15502279328001.jpg" alt="">
            </div>
            <div class="col-md-10">
              <p style="word-wrap:break-word">Fan Việt Nam háo hức khi đội hình Running Man 7 người trở l...</p>
            </div>
        </div>
        <div class="review_item_content row mx-0">
            <div class="col-md-2">
                <img src="../../../../../../assets/image/img_tintuc/review/review-bi-kip-luyen-rong-3-hoi-ket-tron-ven-cho-tinh-ban-cua-hiccup-va-rang-sun-15499681612418.jpg" alt="">
            </div>
            <div class="col-md-10">
              <p style="word-wrap:break-word">Fan Việt Nam háo hức khi đội hình Running Man 7 người trở l...</p>
            </div>
        </div>
        <div class="review_item_content row mx-0">
            <div class="col-md-2">
                <img src="../../../../../../assets/image/img_tintuc/review/review-alita-thien-than-chien-binh-sieu-pham-3d-man-nhan-nhat-sau-aquaman-15497682380204.jpg" alt="">
            </div>
            <div class="col-md-10">
              <p style="word-wrap:break-word">Fan Việt Nam háo hức khi đội hình Running Man 7 người trở l...</p>
            </div>
        </div>
        <div class="review_item_content row mx-0">
            <div class="col-md-2">
                <img src="../../../../../../assets/image/img_tintuc/review/review-cua-lai-vo-bau-tuong-hai-nham-ma-duyen-ra-tro-15488440699601.jpg" alt="">
            </div>
            <div class="col-md-10">
              <p style="word-wrap:break-word">Fan Việt Nam háo hức khi đội hình Running Man 7 người trở l...</p>
            </div>
        </div>
  </div>
</div>
