<div class="container py-2 statusDatve">
  <div id="dropdownMenu" class="row">
      <div id="dropdownMenu_item" class="dropdown">
          <div class="dropdown-toggle btn btn-outline-danger" data-toggle="dropdown">
              Phim
            </div>
            <div id="Phim" class="dropdown-menu btn">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 2</a>
            </div>
      </div>
      <div id="dropdownMenu_item" class="dropdown">
          <div class="dropdown-toggle btn btn-outline-danger" data-toggle="dropdown">
              Rap
            </div>
            <div id="Phim" class="dropdown-menu">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 2</a>
            </div>
      </div>
      <div id="dropdownMenu_item" class="dropdown">
          <div class="dropdown-toggle btn btn-outline-danger" data-toggle="dropdown">
              Ngay Xem
            </div>
            <div id="Phim" class="dropdown-menu">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 2</a>
            </div>
      </div>
      <div id="dropdownMenu_item" class="dropdown">
          <div class="dropdown-toggle btn btn-outline-danger" data-toggle="dropdown">
              Suat Chieu
            </div>
            <div id="Phim" class="dropdown-menu">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 2</a>
            </div>
      </div>
      <div class="Muave">
        <button class="btn btn-dark">Mua Ve Ngay</button>
      </div>
  </div>
</div>



