.statusDatve{
    background: #fff;
    border-radius: 4px;
    position: absolute;
    z-index: 9;
    top: 37rem;
    display: block;
    border: solid 1px #fff;
    margin: auto;
    width: 100%;
    left: 7rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    #dropdownMenu{
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        #dropdownMenu_item{
            border-right: solid 1px #ddd;
            padding-right: 100px;
        }
    }
    .btn-outline-danger{
        border-color: white; 
    }
    .Muave{
        button{
            box-shadow: none;
        }
    }
    .dropdown-toggle{
        font-weight: bold;
    }
}

@media screen and (max-width: 768px){
    .statusDatve{
        display: none;
    }
}